.App {
    margin-top: 50px;
    width: 400px;
    border-radius: 30px;
    background-color: #c2c2c2;
    box-shadow: 0 0 15px #797979;
}

.Screen {
    display: flex;
    flex-direction: column;
    align-items: end;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 160px;
    background-color: #ffffff;
    margin-bottom: 1px;
    font-size: 40px;
}
.error {
  color: red;
}

.Screen div {
    margin: 30px;
}
