.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 350px;
    gap: 1px;
}
.button {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    background-color: #e8ebfe;
    cursor: pointer;
    user-select: none;

}
.button:hover {
    background-color: #e1e4f6;
}
.button:active {
    background-color: #daddef;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom-left-radius: 30px;
}

.equally {
    border-bottom-right-radius: 30px;
}

